/* チャット */

.chat-wrapper {
    position: fixed;
    bottom: 0;
    right: 70px;
    width: 250px;
    z-index: 100;
    margin: 0;
}
.chat-title {
  font-size: 10px;
  line-height: 20px;
  padding-left: 5px;
  background-color: #aedaec;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-title .unread {
    margin-left: 10px;
    font-weight: bold;
}
.chat-box {height: 180px; overflow-y: scroll; font-size: 10px; line-height: 1.5; position: relative;}
.chat-box .chat-name {color: grey}
.chat-box .chat-time {color: skyblue; position: absolute; right:5px }
.chat-box .chat-content {
  background-color: #fff;
  margin: 0 3px 4px 3px;
  border-radius: 6px;
  padding: 5px;
  line-height: 13px;
  position: relative;
  color: black;
}

.slide {
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}
.slide.open { max-height: 400px;  }
.slide.closed { max-height: 0; }