
/* default: 16px */
html { font-size: 80%; }
.p0 { padding: 0 !important; }
.m0 { margin: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.center { justify-content: center; }
.btn-small { height: 25px; line-height: 25px; padding: 0 10px; }
.border1 { border: 1px skyblue solid; }
.border2 { border: 2px skyblue solid; }
.border3 { border: 3px skyblue solid; }
/* テーブル */
th { padding: 5px; white-space: nowrap; }
td { padding: 5px; }
/* スクロールバー */
::-webkit-scrollbar { width: 5px; height: 5px }
::-webkit-scrollbar-track { background-color: #e1f7ff }
::-webkit-scrollbar-thumb { background-color: #aedaec; border-radius: 5px; }

hr.overview { margin: 30px -10px 10px -10px; border: 1px dashed skyblue; border-bottom: none; }
.tab .en { font-size: 60%; font-weight: lighter; letter-spacing: .1rem; text-transform: initial;}
.tab-content .en { font-size: 70%; color: #78bbf2; font-weight: lighter; }
.remarks { border: 1px dotted skyblue; padding: 5px 20px; margin-left: 20px; }


/* select */
/* ドロップダウン全体の背景 */
ul.dropdown-content.select-dropdown {
  background-color: "white";
  top: -24px;
}

/* 各選択肢の見た目 */
ul.dropdown-content.select-dropdown li > span {
  color: #000000;
  /* font-size: 16px; */
  /* min-height: 21px; */
  /* height: 21px; */
  /* line-height: 21px; */
  /* padding: 0 16px; */
}

/* hover 時 */
/* ul.dropdown-content.select-dropdown li:hover {
  background-color: #cdeeff !important;
} */

/* 選択中の項目 */
/* ul.dropdown-content.select-dropdown li.selected {
  background-color: #b3e5fc !important;
} */

/* メインの select 表示部 */
.select-wrapper input.select-dropdown {
  background-color: #ffffff;
  height: 21px;
  line-height: 21px;
  margin-top: 9px;
}

.remarks-score-row {
  padding: 10px;
}
img.remarks-score {
  width: 54px;
  float: left;
  margin-right: 10px;
  border: 1px solid #48a7ccff ;
}


.switch label input[type=checkbox]:checked+.lever {
    background-color: #a6dcec;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #48a7ccff;
}
.switch label .lever {
  margin: 0;
  margin-right: 10px;
}
.switch label .lever {
    background-color: #cae2e9;
}
.switch label {
  vertical-align: text-bottom;
}
/* .switch label .lever:before, .switch label .lever:after {
  top:0
} */