.loading {
  /*ローディング画面の縦横幅を画面いっぱいになるように指定*/
  width: 100vw;
  height: 100vh;
  /*ローディング画面の表示位置を固定*/
  position: fixed;
  top: 0;
  left: 0;
  background: #97c5e4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*ローディング画面を0.5秒かけて非表示にする*/
  transition: all 0.5s linear;
  z-index: 10000;
  overflow: hidden;
}
.loadingDummy {
  /*ローディング画面の縦横幅を画面いっぱいになるように指定*/
  width: 100vw;
  height: 100vh;
  /*ローディング画面の表示位置を固定*/
  position: fixed;
  top: 0;
  left: 0;
  background: #97c5e479;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s linear;
  z-index: 10000;
  overflow: hidden;
}
.loading-img {
  background-size: 110%;
  background-position: 0 -100px;
  background-repeat: no-repeat;
  aspect-ratio: 5/6;
  width: 2000px;
  mix-blend-mode: multiply;
  /* filter: brightness(130%); */
  opacity: 0;
  transform: translateY(30px) scale(1.02);
  transition: all 1s ease-out;
  will-change: opacity, transform;
  overflow: scroll;
}
.loading-img.is-visible {
  opacity: 0.1;
  transform: translateY(0) scale(1);
}

/*ローディング画面を非表示にする*/
.loaded {
  /*0.5秒かけてopacityを0にする*/
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.loading-text {
  color: #FFF;
  text-shadow: 1px 1px black;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  position: absolute;
}

.spinner {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #FFF;
  border-left-color: #1082ce; 
  /* アニメーションを1秒かけて実行 */
  animation: spinner-rotation 1s linear infinite;
}

/* アニメーションの設定 */
@keyframes spinner-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-text {
  color:#333;
}
