.wrapper-canvas {
    width: 100%;
    height: 100%;
    background: #eeeeee;
    position: relative;
    z-index: 0;
}


/* ストックタイル画像 */
.stock-tile-main { position: absolute; right: 2px; top: 10%; height: 10%; width: 10%; z-index: 10; border-radius: 5px; }
.stock-tile-sub { position: absolute; right: 3px; top: 10%; height: 10%; width: 10%; z-index: 10; border-radius: 5px; }
.storage-tile {
    position: absolute;
    padding: 0;
    /* position: absolute;  */
    right: 2px;
    top: 20px;
    z-index: 10;
    width: 10%;
}
.storage-tile .quarry-tile {
    border: 1px solid #000;
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 1/1;
    float: left;
    cursor: pointer;
    position:relative;
    overflow: hidden;
    background-size: contain;
}
.storage-tile .quarry-tile:hover {
    &&::before {
        content:"";
        background: yellow;
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        opacity: .3;
        z-index: 100;
    }
}
.storage-tile .quarry-tile.selected {
    border: 1px solid red;

    &&::before {
        content:"";
        background: yellow;
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        opacity: .2;
        z-index: 100;
    }
}
.storage-tile .quarry-tile .edge-top {
  content:"";
  width:160%;
  height:160%;
  top: -155%;
  left: -30%;
  border-radius: 50%;/*角丸*/
  position:absolute;
  background: #fff;
}
.storage-tile .quarry-tile .edge-bottom {
  content:"";
  width:160%;
  height:160%;
  top: 95%;
  left: -30%;
  border-radius: 50%;/*角丸*/
  position:absolute;
  background: #fff;
}
.storage-tile .quarry-tile .edge-left {
  content:"";
  width:160%;
  height:160%;
  top: -30%;
  left: -155%;
  border-radius: 50%;/*角丸*/
  position:absolute;
  background: #fff;
}
.storage-tile .quarry-tile .edge-right {
  content:"";
  width:160%;
  height:160%;
  top: -30%;
  left: 95%;
  border-radius: 50%;/*角丸*/
  position:absolute;
  background: #fff;
}
.storage-tile .quarry-tile .flower {
  vertical-align: middle;
  width:26%;
  height:26%;
  position: absolute;
  top: 36%;
  left: 36%;
}
.storage-tile .quarry-tile .symbol {
    width:20%;
    height:20%;
    position: absolute;
}
.storage-tile .quarry-tile .symbol-1 { top: 15%; left: 15%; }
.storage-tile .quarry-tile .symbol-2 { top: 15%; right: 15%; }
.storage-tile .quarry-tile .symbol-3 { bottom: 15%; right: 15%; }
.storage-tile .quarry-tile .symbol-4 { bottom: 15%; left: 15%; }


/* プレビュー */
.storage-tile-preview {
    position: absolute;
    padding: 0;
    /* position: absolute;  */
    right: 11%;
    top: 10px;
    z-index: 10;
    width: 20%;
}
.storage-tile-preview .quarry-preview {
    border: 1px solid #000;
    border-radius: 5px;
    z-index: 100;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #fff;
}
.storage-tile-preview .quarry-preview .quarry-tile {
    width:100%;
    aspect-ratio: 1/1;
}
.storage-tile-preview .quarry-preview .quarry-tile:hover {
    &&::before {
        opacity: 0;
    }
}
.storage-tile-preview .quarry-preview .selected-quarry-text {
    position: absolute;
    left: 2px;
    top: 0px;
    z-index: 101;
    color: red;
    text-shadow:
        1px 1px 0px#fff,
        -1px -1px 0px#fff,
        1px -1px 0px#fff,
        -1px 1px 0px#fff;
}


.control-description {
    position: absolute;
    border-radius: 2px;
    padding: 5px;
    width: calc(100% - 36px);
    height: auto;
    min-height: 30px;
    right: 2px;
    bottom: 2px;
    z-index: 10;
    color: rgb(73, 156, 189);
    border: skyblue solid 1px;
    white-space: nowrap;
    font-size: 10px;
    background: rgba(255, 255, 255, 0.719);
    text-align: left;
    cursor: pointer;
    opacity: 1;
}
.control-description.hide-hint {
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    line-height: 26px;
    padding:0;
    color: rgb(91, 178, 212);
    text-align: center!important;
    font-size: 15px;
    opacity: .5;
}
.control-description.hide-hint:hover {
    opacity: 1;
}

.expand-button {
    position: absolute;
    width: auto;
    height: auto;
    right: 2px;
    bottom: 2px;
    z-index: 10;
    border: skyblue solid 1px;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.719);
    cursor: pointer;
    border-radius: 50%;
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    line-height: 25px;
    font-size: 10px;
    padding:0;
    color: rgb(46, 154, 197);
    text-align: center!important;
    opacity: .5;
}
.expand-button .material-icons {
    font-size: 25px
}

.normal-canvas {
    aspect-ratio: 1/1;
    position: relative;
    margin-bottom: 10px;
}

.other-player-board {
    opacity: 1;
    position: relative;
}

.expand-canvas-mordal {
    position: fixed;
    z-index: 1000;
    width: 110%;
    height: 110%;
    background-color: #00000044;
    left:0!important;
    top:0!important;
    cursor: pointer;
}
.expand-canvas {
    position: fixed;
    aspect-ratio: 16/11;
    width: 65%!important;
    left: 50%!important;
    top: 50%!important;
    z-index: 1001;
    transform: translate(-50%, -50%);
}
.expand-hint {
    aspect-ratio: 1/1;
    position: relative;
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: center;
    padding-top: calc(50% - 1rem)!important;
    color: skyblue;
    background-color: rgb(232, 245, 250);
}
canvas {
    width: 100%;
  /* transition: width 1s ease, height 1s ease, opacity 1s ease; */
  display: block;
}
.expand-canvas .player-name {
    font-size: 200%!important
}

.canvas-reset-button {
    position: absolute;
    width: 100%;
    height: auto;
    /* bottom: 40px; */
    bottom: 0px;
    left: 0px;
    z-index: 10;
    /* border-top: skyblue solid 1px; */
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.719);
    cursor: pointer;
    min-height : 35px;
    max-height : 35px;
    line-height: 35px;
    color: rgb(46, 154, 197);
    text-align: center!important;
    opacity: .1;
}
.canvas-reset-button .material-icons {
    font-size: 20px
}

.canvas-reset-button:hover {
    opacity: .9;
    &&::before {
        content: "reload";
    }
}


.zoom-button {
    position: absolute;
    bottom: -35px;
    right: 0;
    color: skyblue;
    cursor: pointer;
}
.zoom-button i.disabled {
    color: rgb(207, 207, 207);
}
.zoom-button i.active:hover {
    background-color: rgb(206, 228, 236);
}