/*
 * タブ設定
 */
.tabs { height: 35px; border-bottom: 1px skyblue solid; }
.tabs .tab { line-height: 10px; white-space-collapse: collapse;}
.tabs .tab a { padding-top: 8px; color: #2196F3; text-overflow: inherit;}
.tabs .tab a.active { color: #008cff; background-color: #def0ff; }
.tabs .tab a:hover { color: #2196F3; background-color: #def0ff; }
.tabs .tab a:focus, .tabs .tab a:focus.active { color: #008cff; background-color: #def0ff; }
.tabs .indicator { display: none; }
.tabs-tab { padding: 0; }
.tab-content { 
    color: rgb(72, 167, 204);
    margin-top: 5px;
    font-size: 90%;
    overflow-x: hidden;
    line-height: 18px;
    background-color: white;
    height: 800px;
}
#tab1-2 .card-image {height: 140px; padding: 10px; border:1px skyblue dotted}
#tab1-2 .card-content {padding-top: 10px; text-align: center;}
#tab1-2 img { object-fit: contain; height: 100%;}
