
/*  */
.player-name {
  font-weight: bold;
  color: red;
}

.icon-info {
  position: absolute;
  top: 40px;
  width: 180px;
  height: 200px;
  background: #8ac9fd;
  /* border: 2px solid #87ceeb; */
  border-radius: 10px;
  padding: 10px;
  color: white;
  /* box-shadow: rgba(44, 117, 146, 0.4) 1px 5px 5px 1px; */
  z-index: 1000;
}

.user-icon {
  border: 1px solid skyblue;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.user-icon img {
  max-width: 100%;
  border-radius: 30px;
}
.user-info {
  position: absolute;
  right: 10px;
  top: 50px;
  width: 200px;
  height: 200px;
  background: #64B5F6;
  /* border: 2px solid #87ceeb; */
  border-radius: 10px;
  padding: 10px;
  color: white;
  /* box-shadow: rgba(44, 117, 146, 0.4) 1px 5px 5px 1px; */
  z-index: 1000;
}
.user-info .user-icon {
  float: left;
  margin-right: 10px;
}
.user-info .user-name {
  height: 25px;
  line-height: 13px;
}
.user-info .user-id {
  color: #bbddf8;
  font-size: 7px;
}
.user-info hr {
  border: 1px dashed #bbddf8; border-bottom: none;
  margin: 10px -7px;
}
.user-color {
  line-height: 20px;
  position: relative;
}
.color-box {
  min-width: 40px;
  min-height: 15px;
  text-align: left;
  display: inline-block;
  border: 1px solid #bbddf8;
  vertical-align: text-bottom;
  cursor: pointer;
}
.color-info {
  top: 25px;
  position: absolute;
  background-color: skyblue;
  border-radius: 10px;
  padding: 10px;
}


.player-info-list {
    width: 95%;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}
.player-info {
    border: 1px solid #e0e0e0;
    background-color: #fff;
    line-height: 1.5rem;
    margin: 0 0 3% 10px;
    border-bottom: 1px solid #e0e0e0;
}
.player-info .user-icon {
    position: initial;
    float: left;
}
.player-info .player-info-user-info {
    padding: 5px;
    /* margin-bottom: 2px; */
    background-color: #c8dff3;
}
.player-info .player-info-game-info {
    padding: 5px;
    background-color: #deedfa;
    padding: 10px;
}

.player-info .player-name {
    margin-left: 8px;
    line-height: 30px;
}


.flower-icon {
  width: 30px;
  height: 30px;
    
}
.flower-icon img {
  width: 30px;
  height: 30px;
  position: relative;
}

.online {
  min-width: 10px;
  min-height: 10px;
  aspect-ratio: 1/1;
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 15px;
  position: absolute;
  right: 6px;
  top: 6px;
}
